
.success-message {
    background-color: #48B012; /* Green background color */
    color: white;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .checkmark {
    margin-left: 5px;
  }
  