@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .success-message {
    @apply bg-green-500 text-white px-2.5 py-2.5 rounded-md flex items-center justify-center;
  }

  .checkmark {
    @apply ml-1.5;
  }
}
  