@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  button {
    @apply cursor-pointer border-none text-white py-4 px-8 text-center align-middle no-underline inline-block text-2xl bg-green-600 absolute top-[60%] left-1/2 -translate-x-1/2 -translate-y-1/2 rounded-3xl;
  }

  button:hover {
    @apply opacity-90;
  }
}