@import "tailwindcss";

button {
  @apply cursor-pointer text-white text-center no-underline inline-block text-[25px] bg-[#419902] 
         absolute left-2/4 top-[60%] -translate-x-2/4 -translate-y-2/4 px-8 py-[15px] 
         rounded-[30px] border-0 hover:opacity-90;
}
