@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .openButton {
    @apply h-[45px] w-[45px] rounded-full text-white bg-black border-none cursor-pointer text-center text-4xl;
  }

  .popUpBox {
    @apply flex flex-col bg-white h-full w-full;
  }

  .overlayContainer {
    @apply hidden fixed justify-center items-center top-0 left-0 w-full h-full bg-red-600;
  }

  .formContainer {
    @apply fixed h-[85%] w-[90%] left-[5%] list-none rounded-[35px] bg-gray-100 overflow-y-scroll;
  }

  fieldset {
    @apply border-0;
  }

  h1 {
    @apply font-sans font-light text-4xl text-center;
  }

  label {
    @apply text-black font-sans text-sm py-[25px];
  }

  legend {
    @apply text-black font-sans text-xl py-[25px] border-none;
  }

  input {
    @apply w-[150px] p-3;
  }

  input[type="text"] {
    @apply w-[350px] p-3 my-2 box-border;
  }

  input[type="text"]:focus {
    @apply bg-blue-100;
  }

  input[type="submit"] {
    @apply bg-black border-none text-white px-8 py-4 no-underline my-5 mx-0.5 rounded-lg cursor-pointer;
  }

  label + input {
    @apply pt-5;
  }

  .cancelButton {
    @apply bg-white border-none text-gray-500 border-solid border-3 px-8 py-4 no-underline my-5 mx-0.5 rounded-lg cursor-pointer;
  }

  @media (min-width: 1200px) {
    .popUpBox {
      @apply h-[85%] w-[85%];
    }

    .formContainer {
      @apply h-[75%] w-[45%] justify-center items-center rounded-sm p-5 top-[10%] left-[27.5%];
    }
  }
}