@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .clientPageContainer {
    @apply w-full h-[95%] bg-white flex flex-col;
  }

  .clientBoxHead {
    @apply w-full h-full bg-white flex flex-row;
  }

  .clientTitle {
    @apply text-black pl-[100px] pt-[50px] font-sans font-light text-3xl text-left;
  }

  .addClientButtonContainer {
    @apply ml-auto pr-[10px] pt-[5%] bg-white;
  }

  .editButtonContainer {
    @apply pt-[5%] pr-[10%] bg-white;
  }

  .editButton {
    @apply h-[45px] w-[45px] rounded-full text-white bg-black border-none;
  }

  .clientListLabels p {
    @apply inline ml-[10%];
  }

  .clientListLabels p + p {
    @apply pl-[40px];
  }

  .clientListLabels {
    @apply text-black inline py-[17px] px-[25px] text-left font-sans font-light text-sm bg-white m-0;
  }

  .clientListContainer {
    @apply w-[75%] h-[70%] min-h-[700px] ml-[7%] mt-0 flex flex-col text-black bg-white border-t border-b border-gray-300;
  }
}