@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .header-text {
    @apply p-1.5 text-left text-xl text-black font-sans font-light no-underline ml-[50px];
  }

  .header-component a {
    @apply no-underline;
  }

  .header-component {
    @apply h-[30px] w-full h-full flex flex-row;
  }

  .profile-circle {
    @apply border border-gray-500 rounded-full border-3 p-1 w-[40px] h-[40px] ml-auto my-auto mr-[50px];
  }

  .profile-placeholder {
    @apply border border-gray-500 w-[40px] h-[40px];
  }

  .logout-popup {
    @apply hidden fixed ml-[calc(100%-390px)] w-[350px] h-[270px] rounded-[15%] bg-ghostwhite;
  }

  .cancelButton {
    @apply absolute top-0 right-0 h-[45px] w-[45px] rounded-full border-none;
  }

  .popup-content {
    @apply m-4 p-4 text-center font-sans;
  }

  .changeAccountButton {
    @apply p-4;
  }

  .logoutButton {
    @apply p-4;
  }
}