@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .dashContainer {
    @apply h-[90%] w-full;
  }

  .dashTitle {
    @apply text-black text-left font-sans font-light text-4xl ml-[5%];
  }

  .dashBoxes {
    @apply flex flex-col gap-5;
  }

  @media (min-width: 1000px) {
    .dashBoxes {
      @apply flex-row;
    }
  }
}