@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .editableRow {
    @apply bg-gray-100; /* Light gray background */
  }

  .editableRowInput {
    @apply p-2; /* Add padding to table cells */
  }

  .editRowInput {
    @apply w-[calc(100%-8px)] p-0.5 h-[20%] border border-gray-300 rounded-sm box-border resize-y block mx-auto text-center overflow-y-auto font-sans;
  }

  .editRideButtonContainer {
    @apply m-0.5 rounded-sm text-center;
  }

  .confirmEditButton,
  .cancelEditButton {
    @apply text-white bg-green-600 border-none m-0.5 p-2.5 rounded-md cursor-pointer transition-colors duration-300;
  }

  .confirmEditButton:hover,
  .cancelEditButton:hover {
    @apply bg-green-700; /* Darker green on hover */
  }
}