.formInput{
  display: flex;
  flex-direction: column;
  width: 280px;
}

input{
  padding: 15px;
  margin: 10px 0;
}

label{
  font-weight: bold;
  font-size: 14px;
  color:darkgreen;
}

span{
  font-weight: bold;
  font-size: 12px;
  padding:3px;
  color: red;
  display:none;
}

input:invalid[focused="true"]:not(:placeholder-shown) {
  border: 1px solid red;
}

input:invalid[focused="true"]:not(:placeholder-shown) ~ span {
  display: block;
}