@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .formInput {
    @apply flex flex-col w-[280px];
  }

  input {
    @apply p-3.5 my-2.5;
  }

  label {
    @apply font-bold text-sm text-green-800;
  }

  span {
    @apply font-bold text-xs p-0.5 text-red-600 hidden;
  }

  input:invalid[focused="true"]:not(:placeholder-shown) {
    @apply border border-red-500;
  }

  input:invalid[focused="true"]:not(:placeholder-shown) ~ span {
    @apply block;
  }
}