@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .header {
    @apply text-black font-sans text-2xl p-6;
  }

  .header-component {
    @apply flex items-center justify-center bg-white border-b border-gray-300 h-[90px] w-full;
  }

  .logo {
    @apply h-20 w-full;
  }
}