.body-container {
  /* width: 58%; */
  height: 950px;
  background: #fbfcf8;
  list-style-type: none;
  position: relative;
}

.title {
  font-family: verdana;
  font-size: 120px;
  text-align: center;
  margin-top: 100px;
  padding: 1rem;
  padding-top: 2rem;
}

.body {
  font-family: verdana;
  font-size: 35px;
  text-align: center;
  padding: 1rem;
}

.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  background-color: #419902;
  position: absolute;
  top: 60%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
