.page-container {
  /* width: 58%; */
  height: 100%;
  width: 100%;
  background: #fbfcf8;
  display: flex;
  flex-direction: column;
}

.main-container {
  width: 95%;
  height: calc(100% - 280px);
  display: flex;
  flex-direction: row;
}

.buttonAndText {
  display: flex;
  flex-direction: column;

  margin-top: 10%;
  margin-left: 7%;
  margin-bottom: 5%;
}

.carImage {
  width: 50%;
  margin-top: 50px;
}

.title {
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
  font-size: 75px;
  text-align: left;
}

.body {
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
  color: gray;
  font-size: 35px;
  text-align: left;
}

.button {
  margin: 0px;
  height: 50px;
  width: 200px;

  border: none;
  color: white;

  text-decoration: none;
  font-size: 25px;
  background-color: #48B012;

  cursor: pointer;
  border-radius: 10px;

  /*To center:*/
  /* 
  text-align: center;             
  margin-left: calc(50% - 100px);
*/
}

.footer-space {
  width: 100%;
  height: 150px;
  margin-top: auto;
  margin-bottom: 0;
}
