@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .page-container {
    @apply h-full w-full bg-[#fbfcf8] flex flex-col;
  }

  .main-container {
    @apply w-[95%] h-[calc(100%-280px)] flex flex-row;
  }

  .buttonAndText {
    @apply flex flex-col mt-[10%] ml-[7%] mb-[5%];
  }

  .carImage {
    @apply w-1/2 mt-[50px];
  }

  .title {
    @apply font-montserrat font-light text-[75px] text-left;
  }

  .body {
    @apply font-montserrat font-light text-gray-500 text-[35px] text-left;
  }

  .button {
    @apply m-0 h-[50px] w-[200px] border-none text-white no-underline text-[25px] bg-green-600 cursor-pointer rounded-lg;
  }

  .footer-space {
    @apply w-full h-[150px] mt-auto mb-0;
  }
}