@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .listContainer {
    @apply w-full h-[80px] flex flex-row;
  }

  .listContainer p {
    @apply p-[5px_68px] text-left font-sans font-light text-sm bg-white m-0;
  }

  .listContainer:nth-child(odd) {
    @apply text-white;
  }

  .listContainer:nth-child(even) {
    @apply text-gray-500;
  }
}