@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .rideTableContent {
    @apply border-none text-center p-2 bg-white text-xl py-3.5 px-1.25 font-sans font-light;
  }

  .rideEditButton,
  .rideDeleteButton {
    @apply text-white cursor-pointer bg-green-600 border-none m-0.5 p-2.5 rounded-md transition-colors duration-300;
  }

  .rideEditButton:hover,
  .rideDeleteButton:hover {
    @apply bg-green-700; /* Darker green on hover */
  }
}