.rideTableContent {
  border: none;
  text-align: center;
  padding: 8px;
}

.rideTableContent {
  background-color: white;
  font-size:20px;
  padding: 15px 5px;
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
  
}

.rideEditButton,
.rideDeleteButton {
  color: white;
  cursor:pointer;
  background-color: #48B012;
  border: none;
  margin:2px;
  padding:10px;
  border-radius: 5px;
  transition: background-color 0.3s ease; /* Add transition effect */
}

/* Change button color on hover */
.rideEditButton:hover,
.rideDeleteButton:hover {
  background-color: #2b6701; /* Darker green */
}