@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .recent-activity-container {
    @apply p-5 px-10 my-10 mx-auto bg-gray-50 w-full max-w-[1200px] rounded-xl shadow-md;
  }

  .activity-list {
    @apply grid grid-cols-1 md:grid-cols-2 gap-5 w-full p-2.5;
  }

  .activity-item {
    @apply border border-gray-300 p-3.5 mb-3.5 rounded-xl bg-white grid grid-cols-1 md:grid-cols-[1fr_auto] items-start gap-2.5 shadow-md;
  }
}