@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .register {
    @apply flex items-center justify-center h-[80vh] bg-[#fbfcf8];
  }

  form {
    @apply bg-gray-300 px-[60px] rounded-lg;
  }

  h1 {
    @apply text-center;
  }

  button {
    @apply w-full h-[50px] p-2.5 border-none bg-green-600 text-white font-bold text-lg cursor-pointer mt-3.5 mb-7.5 rounded-full;
  }
}