@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .reserved-rides {
    @apply bg-white p-5 shadow-sm rounded-lg my-5 mx-auto w-[95%];
  }

  h1 {
    @apply text-center text-gray-700 text-2xl font-normal mb-5;
  }

  table {
    @apply w-full border-collapse m-0;
  }

  th,
  td {
    @apply p-3 text-left border-b border-gray-300;
  }

  th {
    @apply bg-gray-100 text-gray-700 font-bold;
  }

  tbody tr:hover {
    @apply bg-gray-50;
  }

  tbody tr:nth-child(odd) {
    @apply bg-white;
  }
}