@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .ridesTableContainer {
    @apply flex flex-col gap-2.5 p-4 font-sans overflow-x-auto max-h-[400px] overflow-y-auto;
  }

  .ridesTable {
    @apply border-collapse ml-0.5 w-[99%];
  }

  .rideTableHeader {
    @apply border-none text-center p-2 bg-white border-b border-gray-500 font-sans font-normal text-xl;
  }

  .rideTableForm {
    @apply flex gap-1.25;
  }

  .rideTableForm * {
    @apply text-xl;
  }

  .addRideTitle {
    @apply m-5;
  }

  .addRideForm {
    @apply m-5;
  }
}