.tableContainer{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {

  text-align: center;
  padding: 8px;
  font-size: 32px;
  
}



form {
  display: flex;
  gap: 5px;
}


form * {
  font-size: 28px;
}