.sideBar {
  margin: 0px;
}

.nav-a {
  background: none;
  border: none;
  color: inherit;
  text-align: left;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.nav-a:focus {
  outline: none;
}

.nav-a:hover {
  text-decoration: none;
}


.navBar {
  height: 95%;
  width: 98.5%;
  padding: 20px 0px;
  background-color: white;
  border-bottom: 0.5px solid #d2d1d1;
  margin: 0;
}

.nav-p {
  display: inline;
  padding: 17px 25px;
  text-align: left;
  margin: 0;

  color: black;
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
  font-size: 20px;
  text-decoration: none;
}

.nav-a:hover .nav-p {
  background-color: whitesmoke;
}

.active .nav-p {
  color: black; /* Change the color of the active tab */
  border-bottom: 3px solid black;
  background-color: white;
}

/*For devices 769px and greater */
@media only screen and (min-width: 700px) {
  .navBar {
    min-height: calc(100vh - 170px);
    border-bottom: none;
    border-right: 0.5px solid #d2d1d1;
  }

  .nav-p {
    margin-top: 0;
    display: block;
    padding: 20px 35px;
    text-align: left;

    color: gray;
    font-family: "Open Sans", sans-serif;
    font-weight: lighter;
    font-size: 20px;
    background-color: white;
  }

  .nav-link:hover .nav-p {
    background-color: whitesmoke;
  }

  .active .nav-p {
    color: black; /* Change the color of the active tab */
    border-bottom: none;
    border-right: 4px solid black;
  }
}
