.tab-container {
  text-align: left;
  margin-top:5%;
  width: 100%;
  background-color: white;
  
}

.tabs {
  display: flex;
  position: relative;
  
}

.tab-item {
  min-width: 80px;
  padding: 16px 20px 11px 20px;
  font-size: 20px;
  text-align: center;
  color: green;
  background-color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top: 5px solid transparent;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  opacity: 0.6;
  cursor: pointer;
  transition: all 0.5s ease;
  
}

.tab-item:hover {
  opacity: 1;
  background-color: rgba(83, 82, 81, 0.05);
  border-color: rgba(83, 82, 81, 0.1);
}

.tab-item.active {
  opacity: 1;
  background-color: rgba(83, 82, 81, 0.2);
  border-color: rgba(83, 82, 81, 1);
}

.tab-content {
  padding: 28px 20px;
  border:solid;
  border-radius:2px;
  border-color:rgba(83, 82, 81, 1);
  border-width: 4px;
}

.tab-pane {
  color: #333;
  display: none;
}

.tab-pane.active {
  display: block;
  
}

.tab-pane h2 {
  font-size: 24px;
  margin-bottom: 8px;
}