.tab-container {
  margin-top: 5%;
  margin-left: calc(5% - 20px);
  width: 90%;

  text-align: left;
  border-radius: 15px;
  border: 0.5px solid #d2d1d1;
  padding: 25px 20px;
  background-color: white;
}

.tabs {
  display: flex;
  position: relative;
  border-bottom: 0.5px solid #d2d1d1;
}

.tab-item {
  min-width: 80px;
  padding: 16px 20px 11px 20px;

  color: #555555;
  opacity: 0.6;
  background-color: white;

  font-size: 25px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;

  cursor: pointer;
  transition: all 0.5s ease;
}

.tab-item:hover {
  opacity: 1;
  background-color: rgba(83, 82, 81, 0.05);
  border-color: rgba(83, 82, 81, 0.1);
}

.tab-item.active {
  opacity: 1;
  background-color: rgba(83, 82, 81, 0.2);
  border-bottom: 3px solid black;
}

.tab-content {
  padding: 10px 5px;
  border: solid;

  border: none;
  border-width: 4px;
}

.tab-pane {
  color: #333;
  display: none;

  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
}

.tab-pane.active {
  display: block;
}

.tab-pane h2 {
  font-size: 15px;
  margin-bottom: 8px;
}
