@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .tab-container {
    @apply mt-5 ml-[calc(5%-20px)] w-[90%] text-left rounded-xl border border-gray-300 p-6 bg-white;
  }

  .tabs {
    @apply flex relative border-b border-gray-300;
  }

  .tab-item {
    @apply min-w-[80px] py-4 px-5 text-gray-500 opacity-60 bg-white text-2xl text-center font-sans font-light cursor-pointer transition-all duration-500;
  }

  .tab-item:hover {
    @apply opacity-100 bg-gray-50 border-gray-100;
  }

  .tab-item.active {
    @apply opacity-100 bg-gray-200 border-b-4 border-black;
  }

  .tab-content {
    @apply p-2.5 border-none;
  }

  .tab-pane {
    @apply text-gray-700 hidden font-sans font-light;
  }

  .tab-pane.active {
    @apply block;
  }

  .tab-pane h2 {
    @apply text-sm mb-2;
  }
}