@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .mainContainer {
    @apply w-[80%] h-[55%] mx-auto bg-gray-100 rounded-2xl flex flex-col;
  }

  .containerText {
    @apply text-black text-center font-sans font-light text-2xl px-5 flex justify-center items-center;
  }

  .contentNumber {
    @apply text-green-600 text-center font-sans font-normal text-[150px] bg-green-200/30 w-[230px] h-[230px] rounded-full flex items-center ml-[calc(50%-115px)] mt-[10%];
  }

  .contentElements {
    @apply flex justify-center items-center;
  }

  @media (min-width: 1000px) {
    .mainContainer {
      @apply w-[30%] h-[55%] bg-gray-100 rounded-2xl flex flex-col;
    }

    .containerText {
      @apply text-black text-center font-sans font-light text-2xl p-6 flex justify-center items-center;
    }

    .contentNumber {
      @apply text-green-600 text-center font-sans font-normal text-[150px] bg-green-200/30 w-[230px] h-[230px] rounded-full flex items-center ml-[calc(50%-115px)] mt-[10%];
    }

    .contentElements {
      @apply flex justify-center items-center;
    }
  }
}