.mainContainer {
  width: 80%;
  height: 55%;
  margin: auto;

  background-color: #f5f5f5;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
}

.containerText {
  color: black;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
  font-size: 25px;
  padding: 0 20px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.contentNumber {
  color: #48B012;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 150px;
  background-color: rgba(101, 176, 55, 0.3);
  width: 230px;
  height: 230px;
  border-radius: 50%;
  align-items: center;
  margin-left: calc(50% - 115px);
  margin-top: 10%;
}

.contentElements {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 1000px) {
  .mainContainer {
    width: 30%;
    height: 55%;
    background-color: #f5f5f5;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
  }

  .containerText {
    color: black;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: lighter;
    font-size: 25px;
    padding: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contentNumber {
    color: #48B012;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    font-size: 150px;
    background-color: rgba(101, 176, 55, 0.3);
    width: 230px;
    height: 230px;
    border-radius: 50%;
    align-items: center;
    margin-left: calc(50% - 115px);
    margin-top: 10%;
  }

  .contentElements {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
