@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .mainContent::after {
    @apply content-[""] clear-both table;
  }

  [class*="col-"] {
    @apply float-left w-full;
  }

  /* Tablet breakpoint (min-width: 700px) */
  @media (min-width: 700px) {
    .col-s-1 {
      @apply w-[8.33%];
    }
    .col-s-2 {
      @apply w-[16.66%];
    }
    .col-s-3 {
      @apply w-[25%];
    }
    .col-s-4 {
      @apply w-[33.33%];
    }
    .col-s-5 {
      @apply w-[41.66%];
    }
    .col-s-6 {
      @apply w-[50%];
    }
    .col-s-7 {
      @apply w-[58.33%];
    }
    .col-s-8 {
      @apply w-[66.66%];
    }
    .col-s-9 {
      @apply w-[75%];
    }
    .col-s-10 {
      @apply w-[83.33%];
    }
    .col-s-11 {
      @apply w-[91.66%];
    }
    .col-s-12 {
      @apply w-full;
    }
  }

  /* Desktop breakpoint (min-width: 768px) */
  @media (min-width: 768px) {
    .col-1 {
      @apply w-[8.33%];
    }
    .col-2 {
      @apply w-[16.66%];
    }
    .col-3 {
      @apply w-[25%];
    }
    .col-4 {
      @apply w-[33.33%];
    }
    .col-5 {
      @apply w-[41.66%];
    }
    .col-6 {
      @apply w-[50%];
    }
    .col-7 {
      @apply w-[58.33%];
    }
    .col-8 {
      @apply w-[66.66%];
    }
    .col-9 {
      @apply w-[75%];
    }
    .col-10 {
      @apply w-[83.33%];
    }
    .col-11 {
      @apply w-[91.66%];
    }
    .col-12 {
      @apply w-full;
    }
  }

  /* General styles */
  html,
  body {
    @apply min-h-screen min-w-full m-0;
  }

  .page {
    @apply w-screen flex flex-col min-h-screen m-0;
  }

  .mainContent {
    @apply min-h-[calc(100vh-180px)] h-[calc(100%-180px)] bg-white;
  }

  .sideBarSpace {
    @apply h-[70px];
  }

  .testA {
    @apply h-[calc(100%-20px)] bg-gray-100/85;
  }

  .footerSpace {
    @apply w-[calc(100%-80px)] h-[70px] mt-auto mb-0;
  }

  .testFooter {
    @apply w-full h-[60px] mb-0 mt-0 bg-white border-t border-gray-300 font-sans font-light text-xl py-2.5 px-10;
  }

  .headerSpace {
    @apply w-full h-[70px] border-b border-gray-300;
  }

  .headerText {
    @apply text-gray-700 w-1/2 py-5 px-10 text-left font-sans font-light text-xl;
  }
}